
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLayuiIndex.cshtml";
}

<div class="jumbotron" style="background:rgba(0,0,0,0);text-align:center;">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple permission management project.Author's contact: 3393597524@qq.com</p>
    <hr class="my-4">
    <p>It is built using ASP.Net Core Api2.1 and ASP.Net Core MVC2.1.Layout using Layui+Bootstrap.</p>
    <a class="btn btn-primary btn-lg" style="background:rgba(0,0,0,0.1) " href="https://github.com/ZhangQueque/MVCTemplate" target="_blank" role="button">Learn more MVC</a>
    <a class="btn btn-primary btn-lg" style="background:rgba(0,0,0,0.1) " href="https://github.com/ZhangQueque/APITemplate" target="_blank" role="button">Learn more API</a>
</div>

