<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/StaticResources/layer/layer.js"></script>
    <script src="~/layui/jquery.cookie.js"></script>
    <link href="~/live2d/waifu.css" rel="stylesheet" />
    <style>
        body {
            text-align: center;
            color: black;
            background-color: #D4EDDA;
        }

        #s {
            font-size: 23px
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="alert alert-success" role="alert">
            Welcome！<span id="spanNickName"></span>
        </div>
        <div class="row">
            <div class="col-md-2" id="s">
                <ul class="nav flex-column">

                    <li class="nav-item" style="margin-top:20px"><img id="img" style="width:140px;height:140px;border-radius:50%;opacity:0.9" src="~/StaticResources/Img/2.png" /></li>

                    <li class="nav-item"><a href="#" class="badge badge-info" id="RoleName">管理员:</a><a href="#" id="NickName" style="background:rgba(0,0,0,0.2)" class="badge badge-secondary">Admin</a></li>
                    <li class="nav-item" style="margin-top:25px">
                        <button type="button" class="btn btn-outline-info">个人信息</button>
                    </li>
                    <li class="nav-item" style="margin-top:25px">
                        <button type="button" class="btn btn-outline-success">安全设置</button>
                    </li>
                    <li class="nav-item" style="margin-top:25px">
                        <button type="button" class="btn btn-outline-warning">&nbsp;控制台&nbsp;</button>
                    </li>
                    <li class="nav-item" style="margin-top:25px">
                        <button type="button" id="LoginOutBtn" class="btn btn-outline-danger">&nbsp;注&nbsp;&nbsp;销&nbsp;</button>
                    </li>
                    <li class="nav-item" style="margin-top:25px">
                        <button type="button" class="btn btn-outline-dark">关于作者</button>
                    </li>
                </ul>

            </div>

            <div class="col-md-10" id="s">
                <div>  @RenderBody()</div>


            </div>
        </div>
    </div>
    <script>
        //
        //窗体加载事件
        $(function () {
            IsExistLogin() //检验是否登录
        })//窗体加载

        //
        //检验是否登录
        function IsExistLogin() {
            if ($.cookie("token") == null) {
                layer.msg("身份验证已过期，请重新登录！", function () {
                    location.href = "/User/Login";
                });
            }
            $.ajax({
                url: 'http://129.211.14.185:8080/api/users'
                , type: 'get'
                //, data: JSON.stringify({  })
                , contentType: "application/json"
                , headers: { "Authorization": "Bearer " + $.cookie("token") }
                , success: function (res) {
                    console.log(res);
                    if (res.id < 6) {
                        $("#img").attr("src", "/StaticResources/Img/" + res.id + ".png");
                    }
                    if (res.roleDtos[0] == null) {
                        $("#RoleName").html("游客");
                    }
                    else {
                        $("#RoleName").html(res.roleDtos[0].name);
                    }
                    $("#NickName").html(res.nickName);
                    $("#spanNickName").html(res.nickName);
                    $("#inputUserName").val(res.userName);
                    $("#inputNickName").val(res.nickName);
                    $("#inputPhone").val(res.phoneNumber);

                }//success
            }).fail(function () {
                layer.msg("身份验证已过期，请重新登录！", function () {
                    location.href = "/User/Login";
                });

            });//ajax
        };

        //
        //修改昵称
        $("#BtnEdit").click(function () {
            var index = layer.load();
            var nickname = $("#inputNickName").val();
            $.ajax({
                url: 'http://129.211.14.185:8080/api/users'
                , type: 'post'
                , data: JSON.stringify({ NickName: nickname })
                , contentType: "application/json"
                , headers: { "Authorization": "Bearer " + $.cookie("token") }
                , success: function (res) {
                    layer.msg("修改成功!", function () {
                        $("#inputNickName").val(nickname);
                        $("#NickName").html(nickname);
                        $("#spanNickName").html(nickname);

                        layer.close(index);
                    });
                }
            }).fail(function () {
                layer.msg("修改失败!", function () {
                    layer.close(index);
                });
            });//ajax

        });

        //
        //注销登录
        $("#LoginOutBtn").click(function () {
            $.cookie("token", null);
            layer.msg("注销成功！", function () {
                location.href = "/User/Login";
            });
        });

    </script>

    <script src="~/live2d/live2d.js"></script>
    <script src="~/live2d/waifu-tips.js"></script>
    <script type="text/javascript">initModel()</script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" color="133,129,130" opacity='1' zIndex="1" count="301" src="~/dist/canvas-nest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
