
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>用户登录</title>

    <script src="~/layui/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/layer/layer.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <script src="~/layui/jquery.cookie.js"></script>
    <link href="~/live2d/waifu.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('/StaticResources/Img/greebg.jpg');
            text-align: center;
            color: aliceblue;
        }
    </style>
</head>
<body>


    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card bg-dark text-white" style="margin-top:50px">
                    <div class="card-img-overlay">
                        <h5 class="card-title" style="font-size:28px">Welcome to visit </h5>
                        <p class="card-text" style="font-size:19px">Here, you can communicate with the author, learn together and share information.Looking forward to your joining us!</p>
                        <p class="card-text" style="font-size:19px;margin-top:12px">Click below to log in!Didn't you?Sign up for one!&nbsp; <a href="/User/Register" class="badge badge-primary">注册</a></p>@*去往注册按钮*@
                        <p style="font-size:19px;margin-top:12px"> We'll never share your email and phone with anyone else  </p>

                        <p>
                            @*显示登录框按钮*@
                            <button type="button" class="btn btn-info " id="ShowLoginDiv" style="margin-top:12px">Login In</button>
                        </p>
                        <p>
                        </p>
                    </div>
                </div>
                <div id="PhoneLoginDiv">
                    @*手机登录框*@
                    <form style="margin:350px auto;width:300px" class="layui-form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Phone Number</label>
                            @*手机号*@
                            <input id="PhoneNumber" type="text" required class="form-control" style="background:rgba(0,0,0,0.5);color:aliceblue;border-width:2px" placeholder="Please enter your Phone">
                        </div>
                        <div class="form-group form-inline">

                            @*手机验证码*@
                            <input id="ValidateCode" type="text" class="form-control" style="background:rgba(0,0,0,0.5);color:aliceblue;border-width:2px;width:186px" placeholder=" Verification code">
                            <button id="GetCodeBtn" type="button" class="btn btn-outline-info">Get Code</button>

                        </div>
                        @*注册按钮*@
                        <button type="button" class="btn btn-warning" id="PhoneLogin">Login</button>

                    </form>

                </div>
                <div id="LoginDiv">
                    @*登录框*@
                    <form style="margin:340px auto;width:300px">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Account</label>
                            @*账号*@
                            <input type="text" id="Account" class="form-control" style="background:rgba(0,0,0,0.4);color:aliceblue;border-width:2px" placeholder="Please enter your Account">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            @*密码框*@
                            <input type="password" id="Password" class="form-control" style="background:rgba(0,0,0,0.4);color:aliceblue;border-width:2px" placeholder="Please enter your password">
                            <a href="javascript:ShowPhoneLoginDiv()" class="badge badge-primary" style="margin-top:6px;font-size:13px" id="ShowPhoneLoginDiv">手机验证码登录</a>
                        </div>

                        @*登录按钮*@
                        <button type="button" class="btn btn-warning" id="Login">Login</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="waifu" id="waifu" style="margin-left: 0px">
        <div class="waifu-tips" style="opacity: 1;"></div>
        <canvas id="live2d" width="580" height="550" class="live2d"></canvas>
        <div class="waifu-tool">
            <span class="fui-home"></span>
            <span class="fui-chat"></span>
            <span class="fui-eye"></span>
            <span class="fui-user"></span>
            <span class="fui-photo"></span>
            <span class="fui-info-circle"></span>
            <span class="fui-cross"></span>
        </div>
    </div>

    <script src="~/live2d/live2d.js"></script>
    <script src="~/live2d/waifu-tips.js"></script>
    <script type="text/javascript">initModel()</script>
    <script>

        //
        //验证码获取事件
        $("#GetCodeBtn").click(function () {
            var phone = $("#PhoneNumber").val();
            if (phone == "") {
                layer.msg("电话号码不能为空！");
                return false;
            }
            //手机号正则
            var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
            //电话
            if (!phoneReg.test(phone)) {
                layer.msg('请输入有效的手机号码！');
                return false;
            }
            var code = $("#ValidateCode").val();
            var index = layer.load();
            $.ajax({
                url: 'http://129.211.14.185:80/api/identity/ecd'
                , type: 'post'
                , data: JSON.stringify({ PhoneNumber: phone, ValidateCode: '00000' })
                , contentType: "application/json"
                // , headers: { "Content-Type": "application/json" }
                , success: function (res) {
                    if (res.code == 0) {
                        layer.msg("请2分钟后重试！", function () { layer.close(index); });

                    }
                    else {
                        layer.msg("发送成功！", function () { layer.close(index); });
                    }
                }//success
            }).fail(function () {
                layer.msg("服务器繁忙！", function () {
                    layer.close(index);

                });
            });//ajax
        });

        //
        //手机登录按钮事件
        $("#PhoneLogin").click(function () {
            var phone = $("#PhoneNumber").val();
            if (phone == "") {
                layer.msg("电话号码不能为空！");
                return false;
            }
            //手机号正则
            var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
            //电话
            if (!phoneReg.test(phone)) {
                layer.msg('请输入有效的手机号码！');
                return false;
            }
            var code = $("#ValidateCode").val();
            if (code == "") {
                layer.msg("验证码不能为空！");
                return false;
            } //
            var index3 = layer.load();
            $.ajax({
                url: 'http://129.211.14.185:80/api/identity/loginphone'
                , type: 'post'
                , data: JSON.stringify({ PhoneNumber: phone, ValidateCode: code })
                , contentType: "application/json"
                // , headers: { "Content-Type": "application/json" }
                , success: function (res) {
                    console.log(res);
                    if (res.code == 0) {//错误
                        layer.msg(res.msg, function () {
                            layer.close(index3);

                        });
                    }
                    else {

                        sessionStorage.setItem("token", res.data.token);
                        layer.msg(res.msg, function () {
                            layer.close(index3);
                            location.href = "/Admin/Index";
                        });
                    }
                }//success
            }).fail(function () {
                layer.msg("服务器繁忙！", function () {
                    layer.close(index3);
                });
            });//ajax

        });

        //
        //普通登录事件
        $("#Login").click(function () {

            var account = $("#Account").val();
            if (account == "") {
                layer.msg("账号不能为空！");
                return false;
            }

            var password = $("#Password").val();
            if (password == "") {
                layer.msg("密码不能为空！");
                return false;
            } //
            var index2 = layer.load();
            $.ajax({
                url: 'http://129.211.14.185:80/api/identity/login'
                , type: 'post'
                , data: JSON.stringify({ Account: account, Password: password })
                , contentType: "application/json"
                // , headers: { "Content-Type": "application/json" }
                , success: function (res) {
                    console.log(res);
                    if (res.code == 0) {//错误
                        layer.msg(res.msg, function () {
                            layer.close(index2);
                        });
                    }
                    else {
                        sessionStorage.setItem("token", res.data.token);
                        layer.msg(res.msg, function () {
                            layer.close(index2);
                            location.href = "/Admin/Index";
                        });

                    }
                }//success
            }).fail(function () {
                layer.close(index);
                layer.msg("服务器繁忙！", function () {
                    layer.close(index2);
                });
            });//ajax
        });

    </script>


    <script>
        //
        //电话登录框特效
        $("#PhoneLoginDiv").hide();
        function ShowPhoneLoginDiv() {

            $("#ShowPhoneLoginDiv").fadeOut(1000);
            $("#PhoneLoginDiv").fadeIn(1000);
            $("#ShowLoginDiv").html("返回");
            $("#ShowLoginDiv").fadeIn(1000);
            $("#LoginDiv").hide();
        }



        //
        //登录框特效
        $("#LoginDiv").hide();
        $("#ShowLoginDiv").click(function () {
            $("#ShowLoginDiv").fadeOut(1000);
            $("#LoginDiv").fadeIn(1000);
            $("#ShowPhoneLoginDiv").fadeIn(1000);
            $("#PhoneLoginDiv").hide();
        }); //登录框特效

    </script>
    <script type="text/javascript" color="195,255,255" opacity='1' zIndex="1" count="250" src="~/dist/canvas-nest.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
