
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="~/layer/layer.js"></script>
    <script src="~/layui/jquery.cookie.js"></script>
    <link href="~/live2d/waifu.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('/StaticResources/Img/bg3.jpg');
            text-align: center;
        }
    </style>

</head>
<body>

    <div class="container" style=" color: aliceblue;">
        <div class="row">
            <div class="col-sm">
                <div class="card bg-dark text-white" style="margin-top:40px">
                    <div class="card-img-overlay">
                        <h5 class="card-title" style="font-size:28px">Looking forward to your joining us </h5>
                        <p class="card-text" style="font-size:19px">I will not register as our member through your mobile phone number, we will send you a message verification code.We don't share your phone number with anyone!</p>
                        <p class="card-text" style="font-size:18px">If you are ready, we will start to register!</p>
                        <p>
                            <button type="button" class="btn btn-primary" id="GotoLogin">To Login In</button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-info" id="ShowRegisterDiv">Began To Register</button>

                        </p>@*显示注册框按钮*@

                    </div>
                </div>
                <div id="RegisterDiv">
                    @*注册框*@
                    <form style="margin:370px auto;width:300px">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Phone Number</label>
                            @*手机号*@
                            <input type="text" id="PhoneNumber" class="form-control" style="background:rgba(0,0,0,0.5);color:aliceblue;border-width:2px" placeholder="Please enter your Phone">
                        </div>
                        <div class="form-group form-inline">

                            @*手机验证码*@
                            <input type="password" id="ValidateCode" class="form-control" style="background:rgba(0,0,0,0.5);color:aliceblue;border-width:2px;width:186px" placeholder=" Verification code">
                            <button type="button" class="btn btn-outline-danger" id="GetCodeBtn">Get Code</button>

                        </div>
                        @*注册按钮*@
                        <button type="button" class="btn btn-info" id="Register">Register</button>

                    </form>

                </div>


            </div>
        </div>
    </div>
    <div class="waifu" id="waifu" style="margin-left:900px">
        <div class="waifu-tips" style="opacity: 1;"></div>
        <canvas id="live2d" width="480" height="450" class="live2d"></canvas>
        <div class="waifu-tool">
            <span class="fui-home"></span>
            <span class="fui-chat"></span>
            <span class="fui-eye"></span>
            <span class="fui-user"></span>
            <span class="fui-photo"></span>
            <span class="fui-info-circle"></span>
            <span class="fui-cross"></span>
        </div>
    </div>

    <script src="~/live2d/live2d.js"></script>
    <script src="~/live2d/waifu-tips.js"></script>
    <script type="text/javascript">initModel()</script>

    <script>

        //
        //验证码获取事件
        $("#GetCodeBtn").click(function () {
            var phone = $("#PhoneNumber").val();
            if (phone == "") {
                layer.msg("电话号码不能为空！");
                return false;
            }
            //手机号正则
            var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
            //电话
            if (!phoneReg.test(phone)) {
                layer.msg('请输入有效的手机号码！');
                return false;
            }
            var code = $("#ValidateCode").val();
            var index = layer.load();

            $.ajax({
                url: 'https://localhost:44306/api/identity/ecd'
                , type: 'post'
                , data: JSON.stringify({ PhoneNumber: phone, ValidateCode: '00000' })
                , contentType: "application/json"
                // , headers: { "Content-Type": "application/json" }
                , success: function (res) {
                    console.log(res);
                    if (res.code == 0) {
                        layer.msg("请2分钟后重试！", function () { layer.close(index); });
                    }
                    else {
                        layer.msg("发送成功！", function () { layer.close(index); });
                    }
                }//success
            }).fail(function () {
                layer.msg("服务器繁忙！", function () { layer.close(index); });
            });//ajax
        });

        //
        //注册按钮事件
        $("#Register").click(function () {
            var phone = $("#PhoneNumber").val();
            if (phone == "") {
                layer.msg("电话号码不能为空！");
                return false;
            }
            //手机号正则
            var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
            //电话
            if (!phoneReg.test(phone)) {
                layer.msg('请输入有效的手机号码！');
                return false;
            }
            var code = $("#ValidateCode").val();
            if (code == "") {
                layer.msg("验证码不能为空！");
                return false;
            } //
            var index2 = layer.load();

            $.ajax({
                url: 'https://localhost:44306/api/identity/create'
                , type: 'post'
                , data: JSON.stringify({ PhoneNumber: phone, ValidateCode: code })
                , contentType: "application/json"
                // , headers: { "Content-Type": "application/json" }
                , success: function (res) {
                    console.log(res);
                    if (res.code == 0) {//错误
                        if (res.msg == "账号已存在，请前往登录！") {

                            layer.msg(res.msg, function () {
                                layer.confirm('小主！要前往登录吗？', {
                                    btn: ['是的', '不要'] //按钮
                                }, function () {
                                    $.ajax({
                                        url: 'https://localhost:44306/api/identity/loginphone'
                                        , type: 'post'
                                        , data: JSON.stringify({ PhoneNumber: phone, ValidateCode: code })
                                        , contentType: "application/json"
                                        // , headers: { "Content-Type": "application/json" }
                                        , success: function (res) {
                                            console.log(res);
                                            if (res.code == 0) {//错误
                                                layer.msg(res.msg, function () { layer.close(index2); });
                                            }
                                            else {
                                                $.cookie("token", res.data.token);
                                                layer.msg(res.msg, function () {
                                                    layer.close(index2);
                                                    location.href = "/User/UserCenter";
                                                });
                                            }
                                        }//success
                                    }).fail(function () {
                                        layer.msg("服务器繁忙！", function () { layer.close(index2); });
                                    });//ajax
                                })
                            });
                            layer.close(index2);
                            return;
                        }
                        layer.msg(res.msg, function () {
                            layer.close(index2);
                        });
                    }
                    else {
                        layer.msg(res.msg, function () {
                            layer.close(index2);
                            location.href = "/User/Login";
                        });
                    }
                }//success
            }).fail(function () {
                layer.msg("服务器繁忙！", function () {
                    layer.close(index2);
                });
            });//ajax
        });


        $("#GotoLogin").click(function () {
            location.href = "/User/Login";
        });

        //
        //注册框特效
        $("#GotoLogin").hide();
        $("#RegisterDiv").hide();
        $("#ShowRegisterDiv").click(function () {
            $("#ShowRegisterDiv").fadeOut(1000);
            $("#GotoLogin").fadeIn(2000);
            $("#RegisterDiv").fadeIn(3000);
        }); //注册框特效

    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" color="227,199,224" opacity='1' zIndex="-1" count="201" src="~/dist/canvas-nest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>