
@{
    ViewData["Title"] = "用户中心";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}


<div class="alert alert-info" role="alert">
    Welcome！<span id="spanNickName"></span>

    <div class="waifu" id="waifu" style="margin-left:900px">
        <div class="waifu-tips" style="opacity: 1;"></div>
        <canvas id="live2d" width="480" height="450" class="live2d"></canvas>
        <div class="waifu-tool">
            <span class="fui-home"></span>
            <span class="fui-chat"></span>
            <span class="fui-eye"></span>
            <span class="fui-user"></span>
            <span class="fui-photo"></span>
            <span class="fui-info-circle"></span>
            <span class="fui-cross"></span>
        </div>
    </div>
</div>


@*<div class="card bg-dark text-white">
        <img src="~/StaticResources/Img/admin.png" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>*@