
@{
    ViewData["Title"] = "用户中心";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div id="UserInfoDiv" class="card  text-white" style="background:rgba(0,0,0,0.3);width:100%;margin:0 0">
    <img src="~/StaticResources/Img/admin.png" class="card-img" alt="..." style="opacity:0.3">
    <div class="card-img-overlay">
        <h5 class="card-title">缺缺作品</h5>
        <p class="card-text">All source code will be uploaded to GitHub, interested can download the view, welcome to communicate with everyone!</p>
        <p class="card-text">https://github.com/ZhangQueque/MVCTemplate</p>
    </div>
</div>

